{% extends "layouts/default.html" %}

{% block content %}
<div class="tilted">
  <div class="c2">
    <h3>
      Jazzband is a cooperative experiment to reduce the stress of
      maintaining Open Source software alone.
    </h3>
    <p>
      The goal of the Jazzband is to offer relief by sharing responsibility
      for open source work with other like-minded people. It offers
      maintainers and contributors the ability to play in the same band
      instead of being forced into “artist” and “audience” roles by the
      tools GitHub provides.
    </p>
  </div>
  <div class="c3">
    <p>
      When you join Jazzband you will be automatically added as a
      <a href="{{ url_for('members.index') }}">member</a> to its
      <a href="https://github.com/jazzband">GitHub organization</a> and
      granted a wide range of privileges such as creating and editing
      repositories, pushing code, working on issues etc.
    </p>
    <p>
      You can leave admin tasks to the
      <a href="{{ url_for('members.roadies') }}">roadies</a>, the people
      making sure the band can play when they want.
    </p>
    <p>
      Once you are a member you can move a repo into the Jazzband
      organization if it matches
      <a href="{{ url_for('content.about', path='guidelines') }}">the guidelines</a>,
      you can start working on
      <a href="{{ url_for('projects.index') }}">existing Jazzband projects</a>
      and much more.
    </p>
    <p>
      Learn more <a href="{{ url_for('content.about') }}">about Jazzband</a>
      or check the <a href="{{ url_for('content.news') }}">news section</a>
      for more info.
    </p>
  </div>
</div>
{% endblock %}
