{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  <h2>Projects</h2>
  <p>The Jazzband GitHub organization contains a bunch of projects already.</p>
  <p>Here's is a list of them:</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="numbers"><span class="mega-octicon octicon-issue-opened" title="Issues"></span></th>
        <th class="numbers"><span class="mega-octicon octicon-repo-forked" title="Forks"></span></th>
        <th class="numbers">  <span class="mega-octicon octicon-star" title="Stargazers"></span></th>
        <th class="numbers"><span class="mega-octicon octicon-eye" title="Watchers"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for project in github.get_projects() %}
      <tr>
        <td><a href="{{ project.html_url }}" title="{{ project.name }}">{{ project.name }}</a></td>
        <td class="description">{{ project.description }}</td>
        <td class="numbers">{{ project.open_issues_count }}</td>
        <td class="numbers">{{ project.forks_count }}</td>
        <td class="numbers">{{ project.stargazers_count }}</td>
        <td class="numbers">{{ project.watchers_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}