alembic
babel
blinker
brotli
certifi
chardet
click
click-log
cryptography
delegator.py
exceptiongroup
feedgen
flask
flask-admin
flask-caching
flask-compress
Flask-Dance[sqla]
flask-flatpages
flask-login
flask-mail
flask-migrate
flask-redis
flask-session
flask-sqlalchemy
flask-talisman
flask-wtf
greenlet
gunicorn
honcho
itsdangerous
jeepney
jinja2
lxml
markdown
pip>=20.0
pip-tools>6.13.0
psycopg2-binary
pygments
pytest
pytest-datadir
pytest-dotenv
pytest-flask
pytest-mock
python-decouple
pytz
redis
requests[security]
requests-oauthlib
requests-toolbelt
SecretStorage
sentry-sdk[flask]
spinach
sqlalchemy<3.0
sqlalchemy-utils
tomli
twine
URLObject
walrus
werkzeug
whitenoise[brotli]
wrapt
wtforms
