{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  <h2>Account dashboard</h2>
  <h3>
    Your Jazzband account at a glance
  </h3>
  {% if not current_user.is_member %}
  <div class="admonition">
    <p class="admonition-title">
      One more step needed to become a full Jazzband member:
    </p>
    <p>
      You've successfully logged in using GitHub but haven't become
      a member of the
      <a href="https://github.com/jazzband">Jazzband GitHub organization</a>
      just yet.
    </p>
    <p>
      Please allow us first to send you an invitation via email to join our
      GitHub organization and then – as a security precaution – follow the
      instructions in the email from GitHub to accept the invitation.
    </p>
    <p>
      <a href="{{ url_for('account.join') }}">Send invitation to join now</a>
    </p>
  </div>
  {% endif %}
  <p>
    We fetched some data about you from the
    <a href="https://developer.github.com/v3/">GitHub API</a> to be able to
    display the <a href="{{ url_for('members.index') }}">members list</a>.
  </p>
  <p>
    For example your GitHub login is <b>{{ current_user.login }}</b>,
    your GitHub account can be found <a href="{{ current_user.html_url }}">here</a>
    and your Avatar image <a href="{{ current_user.avatar_url }}">here</a>.
  </p>
{#}  <h4>Projects</h4>
  <p>
    {% if current_user.projects_memberships.scalar() %}
    The project(s) you're a member of. If you are a project lead
    in one of them you can do releases to PyPI as well.
    <ul>
      {% for project_membership in current_user.projects_memberships %}
        <li>
          <a href="{{ url_for('projects.detail', name=project_membership.project.name) }}">{{ project_membership.project.name }}</a>
          {% if project_membership.is_lead %} (lead){% endif %}</li>
      {% endfor %}
    </ul>
  {% else %}
    You haven't joined any project so far, do you <a href="{{ url_for('projects.index') }}">want to do that now</a>?
    If not, that's okay, you're still part of the band.
  {% endif %}
  </p>
#}
  {% set email_addresses = current_user.email_addresses.all() %}
  {% if email_addresses %}
  <h4>Email addresses</h4>
  <p>
    Here are the email addresses we fetched using the GitHub API to make sure
    you have verified at least one:
    <ul>
    {% for email in email_addresses %}
      <li>{{ email.email }}{% if email.primary %} (primary){% endif %}</li>
    {% endfor %}
  </ul>
  </p>
  {% endif %}
  <h4>What's next?</h4>
  <p>
    You may be wondering what you can do as member of the Jazzband.
    And that's a fair question since this site doesn't provide much
    specific work to do by itself.
  </p>
  <p>
    All code work happens in our
    <a href="https://github.com/jazzband">GitHub organization</a>. Feel free
    to head over there to see a list of projects, or see the same data on the
    <a href="{{ url_for('projects.index') }}">project index</a>.
  </p>
  <p>
    You may also find the <a href="{{ url_for('members.index') }}">member list</a>
    and <a href="{{ url_for('members.roadies') }}">roadies list</a> useful.
  </p>
  <p>
    Don't miss the <a href="{{ url_for('content.about', path='faq') }}">FAQ</a>,
    <a href="{{ url_for('content.news') }}">news section</a> and please
    <a href="{{ url_for('content.about', path='contact') }}">reach out</a>
    to fellow Jazzband members if needed.
  </p>
  <h4>Other things to do here</h4>
  <p>
  {% if current_user.is_member %}
    Do you want to <a href="{{ url_for('.leave') }}">leave the Jazzband</a>?
  {% else %}
    Do you want to <a href="{{ url_for('.join') }}">join the Jazzband again</a>?
  {% endif %}
    Or simply <a href="{{ url_for('.logout') }}">logout</a>?
  </p>
</div>
{% endblock %}
