{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  {% if has_verified_emails %}
    {% if membership %}
      <h2>Almost done</h2>
      <p>GitHub just sent you an email to your primary email address. Please follow the instructions in it to join the Jazzband GitHub organization.</p>
      <p>Alternatively you can also accept the invitation by visiting the organization page directly at <a href="https://github.com/{{ org_id }}">https://github.com/{{ org_id }}</a>.</p>
    {% else %}
      <h2>Uh uh, something went wrong</h2>
      <p>Please <a href="{{ url_for('account.join') }}">try again</a> joining the Jazzband.</p>
    {% endif %}
  {% else %}
    <h2>We found that you haven't verified any email addresses on GitHub yet.</h2>
    <p>Please do so in your <a href="https://github.com/settings/emails" title="email settings">email settings</a> and then <a href="{{ url_for('account.join') }}">try again</a>.</p>
  {% endif %}
</div>
{% endblock %}
