{% extends "layouts/default.html" %}

{% import 'macros.html' as macros %}

{% block content %}
<div class="c4">
  <h2>Sorry to see you go</h2>
  <p>
      If you really want to leave the Jazzband, please confirm with your GitHub login below.
  </p>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <dl>
      {{ macros.render_field(form.login) }}
    </dl>
    <button type="submit">Leave</button>
    <a href="{{ url_for('.dashboard') }}">back to Account</a>
  </form>
</div>
{% endblock %}
