{% import "macros.html" as macros %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jazzband</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% assets "styles" %}<link href="{{ ASSET_URL }}" media="screen, projection" rel="stylesheet" type="text/css" />{% endassets %}
        {% include "includes/favicons.html" %}
        <link rel="alternate" type="application/atom+xml" href="{{ url_for('content.news_feed', _external=True) }}" />
    </head>
    <body class="{% block body_class %}{% endblock body_class %}">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrapper">
        <a href="{{ default_url() }}" class="logo">
            <span class="inner">
                Jazz
            </span>
            Band
        </a>
        <div class="c1">
            <h1> <span class="center">We </span> are <span class="center red">all</span> <span class="alignleft">part</span><span class="alignright"> of</span> <span class="right">this</span></h1>
        </div>
        {% block body %}{% endblock %}
        <div class="sidebar">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="admonition">
          <p class="admonition-title">Note</p>
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block sub %}
        <ul class="navigation">
          <li>{{ macros.navigation_link(url_for('members.index'), 'Members') }}</li>
          <li>{{ macros.navigation_link(url_for('projects.index'), 'Projects') }}</li>
          <li>{{ macros.navigation_link(url_for('members.roadies'), 'Roadies') }}</li>
          <li>{{ macros.navigation_link(url_for('content.news'), 'News') }}</li>
          <li>{{ macros.navigation_link(url_for('content.about'), 'About') }}</li>
          {% for page in about|sort(attribute='path') if page.path != 'index' %}
          <li>{{ macros.navigation_link(url_for('content.about', path=page.path), page.meta.navigation or page.title or page.path) }}</li>
          {% endfor %}
          {% if current_user.is_authenticated %}
          {% if current_user.is_roadie %}
          <li>{{ macros.navigation_link(url_for('admin.index'), 'Admin') }}</li>
          {% endif %}
          <li>{{ macros.navigation_link(url_for('account.logout'), 'Logout', blue=True) }}</li>
          {% else%}
          <li>{{ macros.navigation_link(url_for('account.login') + '?next=' + request.path, 'Login & join', blue=True) }}</li>
          {% endif %}
        </ul>

        {% if page and page.md.toc|striptags %}
          {{ page.md.toc|safe }}
        {% endif %}

        {% endblock sub %}
        </div>
    </div>
{{ macros.github_corner() }}
</body>
</html>
