{% extends "layouts/default.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="c4">
  <h2>
    <a href="{{ url_for('.index') }}" title="Projects">Projects</a> »
    <a href="{{ url_for('.detail', name=project.name) }}">{{ project.name }}</a> »
    Uploads
  </h2>
  <p>
    {{ project.description }}
  </p>
  {% if project.html_url %}
  <p>
    More infos:
    <a href="{{ project.html_url }}">{{ project.html_url }}</a>
  </p>
  {% endif %}

  {% if project.is_member and uploads %}
    <p>
      Here are the uploads for the project {{ project.name }}, grouped by version.
    </p>
    <p>
      Please refer to the <a href="/about/releases">releases documentation</a> for
      more information about the release process. If you have any question,
      please file a <a href="/roadies/issue?labels=pypi">new issue for the
      roadies</a> with the label "PyPI" or <a href="/about/contact">contact</a>
      us directly.
    </p>
    <p>
      In case of a security issue please refer to the
      <a href="/security">security documentation</a>.
    </p>
    <h3>Uploads</h3>
    {% for upload in uploads %}
    {% if loop.changed(upload.version) %}
    <h3>{{ upload.version }}</h3>
    {% endif %}
    <dl class="upload-info">
    {{ macros.upload_info(upload) }}
    </dl>
    {% else %}
    <p>Not uplods found for this project.</p>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
