body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  padding: 1em;
  background-color: #ccc;
  color: #444;
}
a {
  color: #333;
}
h1.logo {
  font-family: 'Contrail One';
}
h1.logo a {
  border-bottom: none;
}
p.lead {
  font-size: 1.2em;
}
