* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

body {
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;}

code, pre {
  font-family: $code;
  font-weight: 400;
  font-size: $small;
}

body, html {
  background-color: $white;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $black;
  font-family: $text;}

.jazzband {
  width: 100px;
  height: 106px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: $red;
  font-size: 1.86em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $headline;
  padding: 0;
  background-color: $white;
  border: 2px solid $red;
  text-decoration: none;
  &:hover {
    color: $red;}}

.inner {
    height: 53px;
    display: block;
    color: $white;
    padding: 0;
    background-color: $red;}

h1 {
  overflow: hidden;
  font-size: $h1-font-size;
  line-height: 1.1;
  font-family: $headline;
  font-weight: $ultra-bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0.75em 0 0.75em 0;}

h2 {
  font-family: $headline;
  font-weight: $ultra-bold;
  font-size: $h2-font-size;
  line-height: $line-height;
  margin: $margin;
  a {
    color: $red;
    text-decoration: none;
    &:hover {
      color: lighten($red, 10%);}
    span {
      text-decoration: underline;}}}

h3 {
  font-size: $h3-font-size;
  line-height: $line-height;
  font-weight: $semi-bold;
  margin: $margin;}

p, ul {
  font-size: $base-font-size;
  margin-bottom: $base-font-size;}

.small {
  font-size: $small;}

.center {
  display: inline-block;
  text-align: center;
  width: 100%;}

.alignleft {
  float: left;}

.alignright {
  float: right;}

.right {
  display: inline-block;
  text-align: right;
  width: 100%;}

.wrapper {
  position: relative;
  margin: 0 auto;
  padding: $base-font-size; }

.red {
    color: $red;}

ol, ul {
  margin-left: $base-font-size;}

ul {
  list-style-type: square;}

ol > li, ul > li {
    margin-left: $base-font-size;}

a {
  color: $blue;
  &.headerlink {
    color: lighten($black, 40%);
    text-decoration: none;
    font-weight: $light;
    &::before {
      content: " ";
    }
    &:hover {
      color: $blue;
    }
  }
  &:hover {
    color: lighten($blue, 10%); }
}

::selection {
   background: $yellow;
   color: $black;}
::-moz-selection {
   background: $yellow;}

.c1 {
  width: 260px;
  margin: 0 auto;}

.join {
  text-align: left;
  max-width: 300px;}

@media all and (max-width: 1023px) {
  body.docs > .wrapper {
    .c1 {
      display: none;}

  }
}

@media all and (max-width: 600px) {
  .c4 {
      margin-top: 130px;
  }
}

@media all and (min-width: 601px) and (max-width: 1023px) {
  body{
    -webkit-text-size-adjust: none;}
  .wrapper {
      max-width: 601px;
      .c1, .c2, .c4 {
        float: left;}
      .c2 {
        width: 300px;
        padding: 110px 0 0 50px;}
      .c3, .c2 {
        text-align: left;
      }
      .join {
        clear: left;}}
  .tilted {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);}}

@media all and (min-width: 1024px) {
  body{
    -webkit-text-size-adjust: none;}
  .wrapper {
      max-width: 960px;
      h1 {
       margin-top: 20px;}
      .c1, .c2, .c3, .c4 {
        float: left;}
      .c2, .c3 {
        width: 275px; }
      .c2 {
        margin: 50px 0 0 80px;
        text-align: right;}
      .c3 {
        margin: 122px 0 0 30px;
        text-align: left;}
      .c4 {
        margin: 50px 0 0 80px;
        width: 560px;
        padding-bottom: 100px;
      }
      .join {
        position: absolute;
        top: 490px;
        }}
  .tilted {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);}}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
}

td, th {
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  &:first-child {
    padding-left: 0;
    width: 20%;}}

td.description {
  width: 60%;}

td.numbers, th.numbers {
  width: 5%;}

td.numbers {
  text-align: center;}

thead th {
  background: $white;
  border-color: $black;}

blockquote {
  font-style: italic;
  margin-left: 20px;
}

div.admonition, div.warning {
  margin: 1em 0;
  padding: 0 0 0.5em;
  border: 2px solid $black;
  p {
    margin: 0.3em 1em;
    &.admonition-title {
      padding-top: 0.5em;
      font-weight: bold;
    }
  }
  pre, code {
    margin: 0.4em 0;
  }
  ul, ol {
    margin: 0.1em 0.5em 0.5em 1em;
  }
}

div.warning {
  border: 2px solid $red;
  p {
    &.admonition-title {
      color: $red;
    }
  }
}
