* {
  box-sizing: border-box; }

body, html {
  background-image: url("../img/ricepaper2.png");
  background-color: $white;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $black;
  font-family: $text;}

table {
  width: 100%;}

td, th {
  padding: 5px 10px;
  text-align: left;}

td.numbers, th.numbers {
  width: 10%;}

td.numbers {
  text-align: center;}

thead th {
  background: $white;
  border-color: $black;}

@media only screen and (-webkit-min-device-pixel-ratio: 2)  {
    body, html {
        //fbackground-image: url(../img/ricepaper2_@2X.png);
    }}

h2 {
  line-height: 0.3;
  font-size: 50px;
  font-family: $headline;
  font-weight: $ultra-bold;
  text-transform: uppercase;
  padding: 0;
  margin-right: 0;
  &.center {
    text-align: center;}
  &.left {
    text-align: left;}
  &.right {
    text-align: right;}
  a {
    color: $red;
    text-decoration: none;
    line-height: 1;
    &:hover {
      color: lighten($red, 10%);}
    span {
      text-decoration: underline;}}}

h3 {
  font-size: 22px;}

p {
    font-size: 18px; }

.intro {
  position: relative;
  margin: 0 auto;
  padding: 1em; }

.logo {
  background: url("../img/jazzband.svg") no-repeat;
  background-size: 100px 107px;
  height: 107px;
  width: 100px;
  @include image-2x("../img/jazzband@2x.png", 100px, 107px);
  position: absolute;
  top: 0px;
  right: 0px;}

.red {
    color: $red;}

ul {
  list-style-type: square;}

a {
  color: $blue;
  &:hover {
    color: lighten($blue, 10%); }}

.tilted {
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);}

::selection {
   background: $yellow;
   color: $black;} /* Safari */
::-moz-selection {
   background: $yellow;}  /* Firefox */

.c1 {
  width: 200px;
  margin: 0 auto;
  padding-bottom: 20px;}

.c2, .c3 {
  padding: 0 20px;}

.join {
  text-align: right;}

@media all and (min-width: 601px) and (max-width: 1023px) {
  body{
    -webkit-text-size-adjust: none;}
  .intro {
      max-width: 601px;
      .c1, .c2 {
        float: left;}
      .c1 {
        width: 220px;}
      .c2{
        width: 340px; }
      .c1 {
        padding-right: 20px;}
      .c2 {
        padding-top: 50px;}
      .c3, .c2 {
        text-align: left;}
      .join {
        clear: left;}}}

@media all and (min-width: 1024px) {
  body{
    -webkit-text-size-adjust: none;}
  .intro {
      max-width: 1024px;
      h2 {
        font-size: 70px;}
      .c1, .c2, .c3 {
        float: left;
        width: 320px; }
      .c1 {
        padding-right: 50px;}
      .c2 {
        padding: 30px 10px 0 20px;
        text-align: right;}
      .c3 {
        padding: 90px 0 0 30px;
        text-align: left;}
      .join {
        position: absolute;
        top: 500px;}}}
