/* COLORS  */
$red: #BB381C;
$white: #ededed;
$black: #202020;

$blue: #17679b;
$yellow: #FFD900;

/* FONTS  */
$text: 'Source Sans Pro', sans-serif;
$headline: 'Contrail One', sans-serif;
$code: 'Roboto Mono', monospace;

$light: 300;
$semi-bold: 700;
$ultra-bold: 900;

// http://www.gridlover.net/app/, Font Size 17, Line Height 1.5 Scale Factor: 1.25 / Major Third

$base-font-size: 18px;//1.063em;
$base-line-height: 1.5;

$margin-top: 1.414em;
$margin-bottom: 0.5em;
$margin: $margin-top 0 $margin-bottom;
$line-height: $base-line-height;

$h1-font-size: 3.815em;
$h2-font-size: 1.563em;
$h3-font-size: 1.25em;
$small: 0.8em;

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}
