{% extends "layouts/default.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="c4">
  <h2>Members</h2>
  <p>
    The following {{ members.count() }} Jazzband members have volunteered to
    maintain the <a href="{{ url_for('projects.index') }}">Jazzband projects</a>.
  </p>
  <div class="grid">
    {% for member in members %}
    <div class="grid-cell">
      {{ macros.avatar_cell(member) }}
    </div>
    {% endfor %}
  </div>
</div>
{{ macros.avatar_js() }}
{% endblock %}
