{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  <h2>Members</h2>
  <p>
    The following {{ members.count() }} Jazzband members have volunteered to
    maintain the <a href="{{ url_for('projects.index') }}">Jazzband projects</a>.
  </p>
  <div class="grid">
    {% for member in members %}
    <div class="grid-cell">
      {% if member.avatar_url %}
        <a href="{{ member.html_url }}" title="{{ member.login }}"><img class="b-lazy"
               width="120"
               height="120"
               src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-src="{{ member.avatar_url }}"
               alt="{{ member.login }}" /></a>
      {% endif %}<br/>
      <a href="{{ member.html_url }}" title="{{ member.login }}">{{ member.login }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{{ url_for('static', filename='js/blazy.min.js') }}"></script>
<script type="text/javascript">
;(function() {
    var bLazy = new Blazy();
})();
</script>
{% endblock %}
