{% extends "layouts/default.html" %}

{% import "macros.html" as macros %}

{% block page_title %}Roadies{% endblock %}

{% block content %}
<div class="c4">
  <h2>Roadies</h2>
  <p>
    The Jazzband is supported by {{ roadies.count() }}
    roadie{% if roadies.count() != 1 %}s{% endif %}
    who strive{% if roadies.count() == 1 %}s{% endif %}
    to make playing in the band as easy and simple as possible.
  </p>
  <p>
    You can get in touch with the roadies by
    <a href="/roadies/issue" title="opening an issue">opening an issue</a>
    on GitHub.
  </p>

  <div class="grid">
    {% for roadie in roadies %}
    <div class="grid-cell">
      {{ macros.avatar_cell(roadie) }}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
