{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  <h2>Roadies</h2>
  <p>
    The Jazzband is supported by {{ roadies.count() }} roadies who strive to
    make playing in the band as easy and simple as possible.
  </p>
  <p>
    You can get in touch with the roadies by
    <a href="https://github.com/jazzband/roadies/issues/new"
       title="opening an issue">opening an issue</a> on GitHub.
  </p>

  <div class="grid">
    {% for roadie in roadies %}
    <div class="grid-cell">
      {% if roadie.avatar_url %}
        <a href="{{ roadie.html_url }}" title="{{ roadie.login }}"><img src="{{ roadie.avatar_url }}" alt="{{ roadie.login }}"/></a>
      {% endif %}<br/>
      <a href="{{ roadie.html_url }}" title="{{ roadie.login }}">{{ roadie.login }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
