{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  <h2>
    <a href="{{ url_for('.index') }}" title="Projects">Projects</a> »
    <a href="{{ url_for('.detail', name=project.name) }}">{{ project.name }}</a> »
    Delete upload
  </h2>
  <p>
    {{ upload.project.description }}
  </p>
  {% if upload.project.html_url %}
  <p>
    More info:
    <a href="{{ upload.project.html_url }}">{{ upload.project.html_url }}</a>
  </p>
  {% endif %}

  {% if project.current_user_is_member and upload %}
    {% if upload %}
    <dl class="upload-info">
    <dd>Version</dd>
    <dt>{{ upload.version }}</dt>
    {{ macros.upload_info(upload) }}
    </dl>

    <div class="admonition">
      <p class="admonition-title">
      A note about deleting an upload
      </p>
      <p>
        You are about to delete <code>{{ upload.filename }}</code>
        from this site.
      </p>
      <p>
        This means, you won't be able to release the upload to
        <a href="https://pypi.org/">PyPI</a> anymore and will
        have to manually trigger a CI build to re-upload the file.
      </p>
      <p>
        Deleting the upload won't affect any other releases on PyPI.
      </p>
      <p class="red">
          <b>Deleting the upload can't be reverted!</b>
      </p>
      <p>
        <i>Please approve the deletion by entering the project name below.</i>
      </p>
    </div>
    <p>
      Please confirm deleting the upload <b>{{ upload.filename }}</b> by entering the project name below.
    </p>
    <form action="" method="POST">
      {{ delete_form.csrf_token }}
      <dl>
        {{ macros.render_field(delete_form.project_name) }}
      </dl>
      {% if delete_form.submit.errors %}
      <ul class=errors>
        {% for error in delete_form.submit.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {{ delete_form.submit }}
      <a href="{{ url_for('.detail', name=project.name) }}">back</a>
    </form>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
