{% extends "layouts/default.html" %}

{% import "macros.html" as macros %}

{% block page_title %}Projects - {{ project.name }}{% endblock %}

{% block content %}
<div class="c4">
  <h2><a href="{{ url_for('.index') }}" title="Projects">Projects</a> » {{ project.name }}</h2>
  {% if project.description %}
  <p>
    {{ project.description }}
  </p>
  {% endif %}
  {% if project.html_url %}
  <p>
    More info: <a href="{{ project.html_url }}">{{ project.html_url }}</a>
  </p>
  {% endif %}
  {% if project.transfer_issue_url %}
  <p>
    The original GitHub issue documenting the repository transfer from the
    previous maintainer can be found
    <a href="{{ project.transfer_issue_url }}">here</a>.
  </p>
  {% endif %}
  <table class="projects-detail">
    {% if project.membership_count %}
    <tr>
      <td><i class="fas fa-user-friends"></i></td>
      <td>Members</td>
      <td>{{ project.membership_count }}</td>
    </tr>
    {% endif %}
    <tr>
      <td><i class="far fa-eye"></i></td>
      <td>Watchers</td>
      <td>{{ project.subscribers_count }}</td>
    </tr>
    <tr>
      <td><i class="fas fa-star"></i></td>
      <td>Stargazers</td>
      <td>{{ project.stargazers_count }}</td>
    </tr>
    <tr>
      <td><i class="fas fa-code-branch"></i></td>
      <td>Forks</td>
      <td>{{ project.forks_count }}</td>
    </tr>
    <tr>
      <td><i class="fas fa-bug"></i></td>
      <td>Issues</td>
      <td>{{ project.open_issues_count }}</td>
    </tr>
    {% if project.uploads_count %}
    <tr>
      <td><i class="fas fa-archive"></i></td>
      <td>Uploads</td>
      <td>{{ project.uploads_count }}</td>
    </tr>
    {% endif %}
  </table>

  <h3>Leads</h3>
  {% with leads = project.lead_members.all() %}
  {% if leads %}
  <div class="grid">
    {% for lead in leads %}
    <div class="grid-cell">
      {{ macros.avatar_cell(lead) }}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="admonition">
    <p class="admonition-title">Continued maintainance is at risk!</p>
    <p>
      There are no members yet who have volunteered to lead this project.
    </p>
  </div>
  {% endif %}
  <p>
    See the <a href="{{ url_for('content.about', path='releases') }}#security">releases documentation</a> about why projects need leads and how to volunteer to become one.
  </p>
  {% endwith %}

  <h3>Members</h3>
  <div class="admonition">
    {% if project.current_user_is_member %}
    <p class="admonition-title">Thank you for being a project member!</p>
    <p>
      You can of course always <a href="{{ url_for('projects.leave', name=project.name) }}">leave the project again</a>.
    </p>
    {% else %}
    <p class="admonition-title">Interested in becoming a project member?</p>
    <p>
      To use some of the project specific features on GitHub such as receiving
      notifications for code reviews and participate in project discussions, feel free
      to <a href="{{ url_for('projects.join', name=project.name) }}">join the project team</a>!
    </p>
    {% endif %}
  </div>
  {% with members = project.nonlead_members.all() %}
  {% if members %}
  <div class="grid">
    {% for member in members %}
    <div class="grid-cell">
      {{ macros.avatar_cell(member) }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% if project.current_user_is_member and uploads %}
  <h3>Uploads</h3>
  <p>
    There are currently
    <b>{{ uploads.count() }} project uploads</b> for {{ project.name }}, with
    <b>{{ uploads.filter_by(released_at=None).count() }} unreleased</b>.
  </p>
  {% if project.current_user_is_lead %}
  <p>
    Please see the uploads overview below for more details and the
    ability to either delete or release them to
    <a href="https://pypi.org/">PyPI</a>.
  </p>
  {% endif %}
  <div class="admonition">
    <p class="admonition-title">How do releases work?</p>
    <p>
      Please refer to the
      <a href="/about/releases">releases documentation</a> for more information about the release process. If you have any question, please file a
      <a href="/roadies/issue">new PyPI Release issue for the roadies
      </a> with the label "PyPI" or
      <a href="/about/contact">contact</a>
      us directly.
    </p>
  </div>
  <p>
    In case of a security issue please refer to the <a href="/security">security documentation</a>.
  </p>
  <h3>Versions</h3>
  <p>
    {% if versions|count > 1 %}
    There are currently {{ versions|count }} versions:
    {% elif versions|count == 1 %}
    There is currently only one version:
    {% endif %}
    {% for version in versions %}
    <a href="#{{ version }}">{{ version }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% for upload in uploads %} {% if loop.changed(upload.version) %}
  <h4 id="{{ upload.version }}">{{ upload.version }} <a class="headerlink" href="#{{ upload.version }}" title="Permanent link">¶</a></h4>
  {% with version_upload_count= uploads.filter_by(version=upload.version).count() %}
  {% if version_upload_count > 1 and upload.project.current_user_is_lead %}
  <div class="admonition">
    <p class="admonition-title">Multiple uploads for version {{ upload.version }} found!</p>
    <p>Please make sure you <b>release all uploads individually</b> below.</p>
  </div>
  {% endif %}
  {% endwith %}
  {% endif %}
  <dl class="upload-info">
    {{ macros.upload_info(upload) }}
  </dl>
  {% else %}
  <p>No uploads found for this project.</p>
  {% endfor %}
  {% endif %}
  </div>
{% endblock %}
