{% extends "layouts/default.html" %}

{% set this_url = url_for('projects.index') %}

{%- macro sorter_link(sorter, current_sorter, current_order, icon) -%}
<a href="{{ this_url }}?sorter={{ sorter }}{% if current_order != DEFAULT_ORDER and sorter != 'random' and not initial_sorting and sorter == current_sorter %}&order={{ DEFAULT_ORDER }}{% endif %}" title="Sort by {{ sorter }}"{% if sorter == current_sorter %} class="red"{% endif %}><i class="{{ icon }}"></i></a>
{%- endmacro -%}

{% block content %}
<div class="c4">
  <h2>Projects</h2>
  <p>
    The following {{ projects.count() }} Jazzband projects are maintained by the
    <a href="{{ url_for('members.index') }}">Jazzband members</a>.
    Want to move your project to the Jazzband? See the
    <a href="{{ url_for('content.about', path='guidelines') }}">guidelines</a>.
  </p>
  <table class="projects-index">
    <thead>
      <tr>
        <th>
          {{ sorter_link('name', sorter, order, 'fas fa-signature') }}
        </th>
          <th class="numbers">
          {{ sorter_link('random', sorter, order, 'fas fa-random') }}
        </th>
        <th class="numbers">
          {{ sorter_link('uploads', sorter, order, 'fas fa-archive') }}
        </th>
        <th class="numbers">
          {{ sorter_link('watchers', sorter, order, 'far fa-eye') }}
        </th>
        <th class="numbers">
          {{ sorter_link('stargazers', sorter, order, 'fas fa-star') }}
        </th>
        <th class="numbers">
          {{ sorter_link('forks', sorter, order, 'fas fa-code-branch') }}
        </th>
        <th class="numbers">
           {{ sorter_link('issues', sorter, order, 'fas fa-bug') }}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td><a href="{{ url_for('projects.detail', name=project.normalized_name) }}">{{ project.name }}</a></td>
        <td class="numbers"></td>
        <td class="numbers">{{ project.uploads_count or '' }}</td>
        <td class="numbers">{{ project.subscribers_count }}</td>
        <td class="numbers">{{ project.stargazers_count }}</td>
        <td class="numbers">{{ project.forks_count }}</td>
        <td class="numbers">{{ project.open_issues_count }}</td>
      </tr>
      <tr>
        <td class="description" colspan="6">{{ project.description|default('', true) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
