{% extends "layouts/default.html" %}

{% block content %}
<div class="c4">
  <h2>
    <a href="{{ url_for('.index') }}" title="Projects">Projects</a> »
    <a href="{{ url_for('.detail', name=project.name) }}">{{ project.name }}</a> »
    Release upload
  </h2>
  <p>
    {{ upload.project.description }}
  </p>
  {% if upload.project.html_url %}
  <p>
    More infos:
    <a href="{{ upload.project.html_url }}">{{ upload.project.html_url }}</a>
  </p>
  {% endif %}

  {% if project.current_user_is_member and upload %}
    {% if upload %}
    <dl class="upload-info">
    <dd>Version</dd>
    <dt>{{ upload.version }}</dt>
    {{ macros.upload_info(upload) }}
    </dl>

    {% if release_form.global_errors %}
    <ul class=errors>
      {% for error in release_form.global_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if twine_run %}
    <div class="admonition">
      <p class="admonition-title">Standard output</p>
      <p>{{ twine_run.out }}</p>
    </div>
    <div class="admonition">
      <p class="admonition-title">Standard error</p>
      <p>{{ twine_run.err }}</p>
    </div>
    {% endif %}

    <div class="admonition">
      <p class="admonition-title">
      A note about releasing to PyPI
      </p>
      <p>
        You are about to release <code>{{ upload.filename }}</code> to
        <a href="https://pypi.org/">PyPI</a>.
      </p>
      <p>
        Please make sure that you've confirmed the contents of the file
        with all due skill, care and diligence before releasing it to the
        public.
      </p>
      <p class="red">
        <b>Releasing the upload can only be reverted by the roadies!</b>
      </p>
    </div>
    <p>
      Please confirm releasing the upload <b>{{ upload.filename }}</b> to
      PyPI by entering the project name below.
    </p>
    <form action="" method="POST">
      {{ release_form.csrf_token }}
      <dl>
        {{ macros.render_field(release_form.project_name) }}
      </dl>
      {% if release_form.submit.errors %}
      <ul class=errors>
        {% for error in release_form.submit.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {{ release_form.submit }}
      <a href="{{ url_for('.detail', name=project.name) }}">back</a>
    </form>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
